<section class="main" ng-class="{'main-padding': $ctrl.messages.length>0 ? true : false}">
  <ul class="message-list">
    <message-item
      ng-repeat="message in $ctrl.messages"
      message="message"
    ></message-item>
  </ul>
</section>