<header class="header">
  <h1>Logged as {{$ctrl.appService.getLogin()}}</h1>
  <div class="logout" ng-click="$ctrl.logout()">Logout</div>
  <message-text-input
    new-message="true"
    on-save="$ctrl.handleSave(text)"
    placeholder="Enter your message"
  ></message-text-input>
</header>