<header class="header">
    <h1>Log in to use the chat</h1>
    <input
        class="textInput"
        ng-model="$ctrl.login"
        ng-class="{'edit': true, 'new-message': true}"
        ng-keypress="$ctrl.submit($event)"
        placeholder="Enter your name and press Enter"
        type="text"
    />
</header>