<li class="message">
  <div class="message-text" ng-class="{'incoming-message': $ctrl.message.own === false ? true : false}">
    {{$ctrl.message.text}}
    <p class="message-info">{{$ctrl.message.author}} {{$ctrl.message.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
  </div>
</li>