html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.app {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.app input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.app input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.app input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.app h1 {
    position: absolute;
    top: -130px;
    width: 100%;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.app .logout {
    position: absolute;
    top: -30px;
    right: 0;
    border-radius: 10px;
    background-color: lightblue;
    height: 20px;
    padding: 3px;
    width: 100px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.main-padding{
    padding-bottom: 10px;
}

.message .message-text{
    padding: 10px;
    background-color: lightblue;
    width: 300px;
    overflow: auto;
    margin: 10px;
    word-break: break-all;
    border-radius: 10px;
}

.incoming-message{
    margin-left: 220px!important;
}

.message-info{
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.new-message,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.new-message {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}



.message-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.message-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.message-list li:last-child {
    border-bottom: none;
}

.message-list li label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.message-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}


.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}

